@font-face {
    font-family: "figtree";
    src: url(fonts/Figtree-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
.triangle {
    background-color: gray;
    text-align: center;
    font-size: 52px;
    color:darkblue;
    margin: 0px 0px 0px 0px;
    padding-bottom:10px;
}

.emblem {
     
}

.navbar {
    position: relative;
    overflow: hidden;    
    background-color: gold;
}

.navbar a{
    position: sticky;
    float: left;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    font-size: 17px;
}

.navbar a:hover {
    background-color: blue;
    color: black;
}

.values {
    color:white;
    padding: 10px 10px 10px 20px;
    margin: 40px 40px 40px 40px;
    width: 1200px;
    height: 400px;
    background-color: gainsboro;
    
}